/*


*/
.DateField {
    width: 85px;
    behavior: url("/library/VisualObjetcs/Date_Field_Calendar/DateField.htc");
    -moz-binding: url(/library/VisualObjetcs/Date_Field_Calendar/bindings.xml#DateField.htc);

}

/* ########################Fichier CSS############################# */
/* ###### general ###### */
/* #################################### */

body {

    margin: 0;
    font-size: 12px;
    dbackground-color: #FFFFFF;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
    border: 0;
}

small {
    font-family: verdana;
    font-size: 10px;
    text-decoration: underline;
}

b {
    font-weight: bold;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.separ {
    clear: both;
    visibility: hidden;
}

/* #################################### */
/* ###### liens ###### */
/* #################################### */

a, a:link {
    font-weight: bold;
    text-decoration: none;
    color: #009966;
    font-size: 11px;
}

/*
a:visited   {
font-weight: bold;
text-decoration: none;
color : #009966;
}
*/

a:hover {
    color: black;
}

/* Lien pour Show plan */

.showplan {
    font-weight: bold;
    text-decoration: none;
    color: #009966;
    cursor: pointer;
}

hr {
    border: 1px solid #cccccc;
}

/* Over link div */
.over_link {
    display: none;
    position: absolute;
    border: 1px solid gray;
    background: transparent url("./images/fondTR2.png") repeat;
    -moz-border-radius: 5px;
    padding: 5px;
    font-size: 11px;
    text-align: left;
    width: 200px;

}

/* #################################### */
/* ###### form ###### */
/* #################################### */

form {
    font-size: 12px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;

}

.submit {
    text-align: center;
}

select {
    font-size: 11px;
    border: 1px solid #888888;
}

option.tree {

    border: 0;
    border-bottom: 1px solid #C0CAD4;
}

option.treeroot {

    background: url("./images/treeroot.png") 0 2px no-repeat;
    background-color: #eeeeee;
    border: 0;
    margin-top: 5px;
    font-weight: bold;
}

textarea, input {
    background-color: #FDFDF2;
    border: 1px solid #CCCCCC;
    font-size: 11px;
    background-color: #ffffff;
}

input.submit {
    font-size: 11px;
    border: 1px solid #888888;
    background-color: #eeeeee;
    cursor: pointer;
    background: url("./images/fond_form.png") repeat-x;
}

input.submit:hover {
    border: 1px inset #888888;
    background-color: #ffffff;
    background: url("/pics/fond_form_on.png") repeat-x;
}

.button {
    border: 1px solid #888888;
    background-color: #eeeeee;
    cursor: pointer;
    background: url("./images/fond_form.png") repeat-x;
}

.button:hover {
    border: 1px inset #888888;
    background-color: #ffffff;
    background: url("./images/fond_form_on.png") repeat-x;
}

.calendrier {
    border: 1px solid #888888;
    background-color: #eeeeee;
    vertical-align: middle;
    background: url("./images/fond_ico_sous_nav.png") repeat-x;
}

.calendrier:hover {
    border: 1px inset #888888;
    background-color: #ffffff;
    cursor: pointer;
}

/* #################################### */
/* ###### table ###### */
/* #################################### */
table {
    font-size: 11px;
}

th {
}

td {
}

.tab_cadre {
    -moz-border-radius: 4px;
    border: 1px solid #cccccc;
    z-index: 1;
    text-align: left;
    font-size: 11px;
    background-color: #ffffff;
}

.tab_cadre_central {
    -moz-border-radius: 4px;
    border: 1px solid #bbbbbb;
    z-index: 1;
    text-align: left;
    font-size: 11px;
    width: 950px;
    /* background-color: #FFF4DF; */
    background: url("./images/fond-central.png") repeat-x top right;
}

.tab_cadre_fixe, .tab_cadre_fixehov {
    -moz-border-radius: 4px;
    border: 1px solid #cccccc;
    z-index: 1;
    text-align: left;
    font-size: 11px;
    width: 950px;
}

.tab_cadrehov, .tab_cadrehov_pointer {
    -moz-border-radius: 4px;
    border: 1px solid #cccccc;
    text-align: left;
    font-size: 11px;
    width: 80%;
    background-color: #ffffff;
}

.tab_cadre th, .tab_cadre_fixe th, .tab_cadre_fixehov th, .tab_cadrehov th, .tab_cadrehov_pointer th, .tab_cadre_report th {
    font-size: 11px;
    font-weight: bold;
    background-color: #fccc6f;
    text-align: center;
    background: url("./images/fond_th.png") repeat-x;
    border-bottom: 1px solid #cccccc;
}

.tab_cadrehov tr:hover, .tab_cadre_fixehov tr:hover {

    background-color: #FFF4DF;
}

.tab_cadrehov_pointer tr:hover {
    cursor: pointer;
    background-color: #FFF4DF;
}

/* Ajout pour IE */
.tab_cadrehov_pointer tr {
    cursor: pointer;
}

.tab_cadre_report {

    -moz-border-radius: 4px;
    border: 1px solid #cccccc;
    z-index: 1;
    text-align: left;
    font-size: 11px;
    text-align: center;
    width: 80%;
}

/* ******************** Pager ***************** */

.tab_cadre_pager {
    text-align: center;
    -moz-border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 10px;
    width: 950px;
}

.tab_cadre_pager select, .tab_cadre_pager span, .tab_cadre_pager form {
    font-size: 10px;
    margin: 0;
}

.tab_cadre_pager input {
    vertical-align: middle;
}

.tab_cadre_pager th {
    font-size: 10px;
    font-weight: bold;
    background-color: #fccc6f;
    text-align: center;
    background: url("./images/fond_th.png") repeat-x;
}

.tab_bg_1 {
    background-color: #ccccc7;

}

.tab_bg_1_2 {
    background-color: #cf9b9b;

}

.tab_bg_2 {
    background-color: #d7d7d2;

}

.tab_bg_2_2 {
    background-color: #cf9b9b;

}

.tab_bg_3 {
    /*background-color: #eeeeee;*/
    background-color: #e7e7e2;

}

.tab_find {
    background-color: #ccccc7;

}

.tab_find:hover {
    background-color: #FFF2C2;
    cursor: pointer;
}

.tab_resa {
    border: 1px dashed #cccccc;
    background-color: #d7d7d2;
    font-size: 10px
}

.tab_resa:hover {

    background-color: #ffffff;
    border: 1px dotted #000000;

}

.div_tracking {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.div_tracking:hover {
    background-color: #FFF4DF;

}

/* #################################### */
/* ###### login ###### */
/* #################################### */

#contenulogin {
    height: 266px;
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: url("./images/login_sgmt.png") no-repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #009966;
}

#contenulogin2 {
    height: 266px;
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: url("./images/login_diaria.png") no-repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #009966;
}

#boxlogin {
    position: relative;
    background-color: transparent;
    padding-left: 15px;
    padding-top: 76px;
    text-align: left; /* Bug IE Grrr */
    height: 190px;
    width: 300px;

}

#boxlogin p {

    text-align: center;
}

.row {
    clear: both;
    padding-top: 5px;
}

.label {
    float: left;
    margin-left: 10px;
    text-align: left;
}

.formw {
    float: right;
    margin-right: 10px;
    text-align: right;
}

#boxlogin fieldset {
    background-color: transparent;
    border: 2px solid #FFC65D;
    padding-bottom: 22px;
}

#boxlogin legend {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
}

#boxlogin input {

    border: 1px solid #009966;
}

#logo-login {

    float: right;
    height: 160px;
    width: 240px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 80px;

}

.sous_logo {
    font-family: arial;
    font-size: 9px;
    color: #eeeeee;
    text-decoration: none;
}

#footer-login {
    text-align: right;
    position: fixed !important;
    left: 0px;
    right: 10px;
    bottom: 0px !important;
    height: 40px;
    font-size: 10px;
    color: #757575;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* css hack for IE */
    position: absolute;
    bottom: auto;
    top: expression((parseInt(document.documentElement.clientHeight)+parseInt(document.documentElement.scrollTop)-42)+'px');
    width: expression(parseInt(document.documentElement.clientWidth)+'px');
}

/* #################################### */
/* ###### entete  et navigation ###### */
/* #################################### */
#navigation {
    /* ## background-color: #C5DAC8;*/
    background-color: #efefe7;
    -moz-border-radius: 8px;
    /*border: 2px outset #009966;*/
    height: 80px;
    border: 2px outset #FFC65D;
    background: url("./images/fond.png") repeat-x top right;
    margin-bottom: 10px;
    padding: 5px;

}

#navigation-helpdesk {
    /* ## background-color: #C5DAC8;*/
    background-color: #efefe7;
    -moz-border-radius: 8px;
    /*border: 2px outset #009966;*/
    height: 150px;
    border: 2px outset #FFC65D;

    margin-bottom: 10px;
    padding: 5px;

}

/* #################################### */
#menu2 dl, #menu dt, #menu dd, #menu ul, #menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 140px;
}

#menu dl, #menu dt, #menu dd, #menu ul, #menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

#menu {
    position: absolute;
    top: 10px;
    left: 0;

    width: 100%; /* precision for Opera */
}

#menu dl {
    float: left;
    display: block; /* Precision for Safari */
    width: 12%;
}

#menu dt {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background: transparent;
    /*border: 1px solid gray; */
    margin: 1px;
}

#menu dd {
    display: none;
    -moz-border-radius: 4px;
    border: 1px solid gray;
}

#menu li {
    text-align: center;
    padding: 2px;
    background: transparent url("./images/fondTR.png") repeat;
    border-bottom: 1px outset white;
}

#menu li a, #menu dt a {
    color: #000;
    text-decoration: none;
    display: block;
    /*height: 100%;*/
    border: 0 none;
}

#menu li a:hover, #menu dt a:hover {
    background: #fccc6f;

}

/* #################################### */

.menu_title {
    font-size: 9px;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.menu a {
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #757575;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    font-weight: bold;
    background-color: #339966;
}

a.icon_logo img {
    padding: 7px;
    margin: 1px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

a.icon_logo:hover img {
    padding: 7px;
    margin: 1px;
    border: 1px solid #999999;
    background-color: #e4e4e4;
    -moz-border-radius: 5px;
}

.icon_nav {
    padding: 4px;
    margin: 1px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    Z-INDEX: -3;

}

.icon_sous_nav {
    padding: 4px;
    margin: 1px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    background: url("./images/fond_ico_sous_nav.png") repeat-x;

}

a.icon_nav_move img {
    padding: 4px;
    margin: 1px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    -moz-border-radius: 5px;
}

a.icon_nav_move:hover img {
    padding: 4px;
    margin: 1px;
    border: 1px solid #999999;
    background-color: #e4e4e4;
    -moz-border-radius: 5px;
}

.nav_horl {
    padding: 4px;
    margin: 8px;
    border: 1px solid #aaaaaa;
    text-align: center;

    -moz-border-radius: 5px;
    font-size: 9px;

}

ul.autocomp {
    list-style-type: none;
    margin: 0;
    margin-left: 3px;
    padding: 3px;
}

ul.autocomp li.selected {
    background-color: #FFF6CF;
}

li.auto_comp {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    height: 16px;
}

/* #################################### */
/* ###### navig-console ###### */
/* #################################### */

.icon_consol {
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    padding-right: 8px;
    margin: 1px;
    border: 1px solid #aaaaaa;
    background-color: #e4e4e4;
    background: url("./images/fond_ico_cons.png") repeat-x;
    -moz-border-radius: 5px;

}

.icon_consol img {
    padding-bottom: 10px;
}

.icon_consol:hover {
    padding: 4px;
    padding-right: 8px;
    margin: 1px;
    border: 1px inset #888888;
    background-color: white;
    background: url("./images/fond_ico_cons_on.png") repeat-x;
    -moz-border-radius: 5px;
}

/* #################################### */
/* Footer */
/* #################################### */
#footer {

    /* ## background-color: #C5DAC8;*/
    background-color: #efefe7;
    -moz-border-radius: 8px;
    /*border: 2px outset #009966;*/

    border: 2px outset #FFC65D;
    padding: 5px;
    margin-top: 5px;
    clear: both;
}

.copyright {
    font-size: 10px;

    color: #757575;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;

}

/* #################################### */
/* style onglet */
/* #################################### */

#barre_onglets {

    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;

}

ul#onglet {
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding-left: 0;

}

ul#onglet li {

    float: left;
    height: 21px;
    background-color: #eeeeee;
    margin: 2px 2px 0 2px;
    border: 1px solid #009966;
    border-bottom: 1px solid #fff;
    -moz-border-radius: 4px;
    background: url("./images/fond_onglet.png") repeat-x;
}

ul#onglet li.actif {
    border-bottom: 1px ridge #009966;
    background-color: #fff;
}

ul#onglet li.invisible {
    border-bottom: 1px solid #fff;
    border: 1px solid #fff;
    background-color: #ffffff;
    width: 15px;
    background: transparent;
}

ul#onglet li.actif a {
    color: #000;
}

#onglet a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 3px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#onglet a:hover {
    color: #009966;

}

/* Over onglet div */
#onglet_plugins {
    display: none;
    position: absolute;
    top: 21px;
    left: -20px;
    padding: 5px;
    font-size: 8px;
    width: 100px;
    background: transparent url("./images/fondTR.png") repeat;
    border: 1px solid gray;
    -moz-border-radius: 5px;
}

#onglet_plugins dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;

}

#onglet_plugins dt {
    text-align: center;
    padding: 2px;
    background: none;
    border: 0;
    width: 100%;
    height: 18px;

}

#onglet_plugins dt a {
    font-size: 10px;
    color: #000;
    text-decoration: none;
    display: block;
    border: 0 none;
}

#onglet_plugins dt a:hover {
    color: #000;
    background: #fccc6f;

}

#onglet_plugins dt:hover {
    color: #000;
    background: #fccc6f;

}

/* #################################### */
/* Raccourcis typo */
/* #################################### */
.verdana1 {
    font-family: Verdana, Arial, Sans, sans-serif;
    font-size: 10px;
}

/* #################################### */
/* ###### knowledge base / FAQ  ###### */
/* #################################### */

#contenukb {
    /* a voir je suis pas bien sr  */
    height: 100%;
    /*position: relative; ou absolute */
    /*left: 35%; */
    width: 600px;
    /*margin-left: -150px; */
}

#contenukb legend {

    font-weight: bold;

}

#contenukb fieldset {
    background-color: #eeeeee;
    border: 1px solid #FFC65D;
    -moz-border-radius: 8px;
    padding-bottom: 10px;
    width: 600px;

}

#contenukb textarea {

    width: 550px;

}

.code {
    width: 95%;
    border: dotted 2px #ccc;

}

a.pubfaq {
    color: #c9993C;
}

a.pubfaq:hover {
    color: black;
}

/* #################################### */
/* Toolbar */

/* #################################### */
p.toolbar {

    padding: 4px;
    margin-bottom: 0px;
}

p.toolbar a {

    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    padding: 5px;
    margin: 2px;
    color: #000;

}

p.toolbar a, p.toolbar a:link, p.toolbar a:visited {
    border: 1px solid #999;
    -moz-border-radius: 5px;
    text-decoration: none;

}

p.toolbar a:hover {
    border: 1px solid #666;
    -moz-border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
}

/* #################################### */
/* style Toolbar-> code knowbase */
/* #################################### */
.souligne {
    text-decoration: underline;
}

.barre {
    text-decoration: line-through;
}

/* #################################### */
/* planning */
/* #################################### */

.planning {
    text-align: center;
    border: 1px dashed #cccccc;
    background-color: #d7d7d2;
    font-size: 9px;

}

.planing:hover {
    border: 1px solid #999999;
    background-color: white;

}

/* #################################### */
/* DEBUG */
/* #################################### */

#debug-float {
    top: 0px;
    right: 20px;
    position: absolute;
    z-index: 100;
}

#debug-float a {
    border-top: 1px solid #cecece;
    border-bottom: 2px solid #4a4a4a;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 1px .5em;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: #fff;
    color: red;
}

#debug-float a:hover {
    background-color: #fc3;
    border-bottom: 2px solid #36f;
}

#debug {
    background-color: #F0F0F0;

}

#debug h1 {
    font-size: 14px;
    text-align: center;
    background-color: #efefe7;
    -moz-border-radius: 8px;
    /*border: 2px outset #009966;*/
    border: 2px outset #FFC65D;
    padding: 5px;

}

#debug h2 {
    font-size: 14px;
    padding-left: 10px;
    border-left: 4px solid #FFC65D;
    border-bottom: 2px solid #FFC65D;
}

.tableborder_small {
    BORDER-RIGHT: #345487 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #345487 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #345487 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #345487 1px solid;
    BACKGROUND-COLOR: #FDFDF2;
    font-size: 8px;
}

.tableborder {
    BORDER-RIGHT: #345487 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #345487 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #345487 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #345487 1px solid;
    BACKGROUND-COLOR: #FDFDF2;
}

.tablefill {
    BORDER-RIGHT: #B7C8E3 1px solid;
    dPADDING-RIGHT: 6px;
    BORDER-TOP: #B7C8E3 1px solid;
/ / #345487 dPADDING-LEFT : 6 px;
    dPADDING-BOTTOM: 6px;
    BORDER-LEFT: #B7C8E3 1px solid;
    dPADDING-TOP: 6px;
    BORDER-BOTTOM: #B7C8E3 1px solid;

    BACKGROUND-COLOR: #f5f9fd
}

.FormTitulo {
    background: #aec9e3;
    #006699;
    background-image: url('./images/bk_botao.gif');
    Dfont-weight: bold;
    color: #335a95;
    #FFFFFF;
    font-family: Arial, Verdana, Helvetica;
    font-size: 10pt;
    border-top: 1 solid #ffffff;
    border-left: 1 solid #ffffff;
    border-bottom: 1 solid #6699cc;
    border-right: 1 solid #6699cc;
}

.FormSubTitulo2 {
    FONT-SIZE: 10pt;
    COLOR: #305c93;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    BACKGROUND-COLOR: #bdd7e7;
    text-align: left;
    border-top: 1 solid #ffffff;
    Dborder-left: 1 solid #ffffff;
    border-bottom: 1 solid #6699cc;
    Dborder-right: 1 solid #6699cc;
}

.maintitleRED {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url('./images/tile_RED.gif');
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    COLOR: #fff;
    PADDING-TOP: 3px
}

#content {
    padding: 14px 0 0;
}

/* boxes and layout
------------------------*/

#main {
    width: 980px;
    margin: 0 auto;
}

#content,
#main .sidebar {
    color: #333;
}

/* boxes */
#content .box {
    position: relative;
    width: 560px;
    padding: 0 20px 1px;
    overflow: hidden;
    background: #fff;
    zoom: 1;
}

#content .box .cap {
    position: absolute;
    width: 600px;
    height: 6px;
    margin: 0 -20px;
    font-size: 1px;
);
}

#content .box .cap.top {
    top: 0;
    *margin-left: -2px;
}

#content .box .cap.bottom {
    bottom: 0;
    background: url(./images/box_bgbottom20090106.png) no-repeat 0 100%;
}

#content .box .gradient {
    width: 560px;
    margin: 0 -18px;
    padding: 0 18px;
    overflow: hidden;
    background: #fff url(./images/box_bggrad20090106.gif) repeat-x 0 100%;
}

#content .box.full {
    background: #fff url(./images/box_full_bg20090608.gif) repeat-y 0 0;
}

#content .box.full .cap.top {
    width: 980px;
    background-image: url(./images/box_full_bgtop20090608.png);
}

#content .box.full .cap.bottom {
    width: 980px;
    background-image: url(./images/box_full_bgbottom20090608.png);
    *position: relative;
}

#content .box h2 {
    margin: 0 -18px;
    padding: 6px 10px 4px;
    color: #4d4d4d;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
    background: #dfdfdf url(./images/box_header20090106.gif) repeat-x 0 0;
}

#content .box.full {
    width: auto;
}

.Tabela_rel {
    border-top: 1px #b1b5b9 solid;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.Titulo_rel {
    vertical-align: middle;
    font-size: 11px;
    background-color: #e5e6e8;
    dborder-top: 1px #b1b5b9 solid;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-decoration: none;
    font-family: Verdana, Arial;
    color: #666666;
    font-weight: bold;
    padding: 3px 3px 0;
}

.Sub_titulo_rel {
    background-color: #f1f1f1;
    dborder-top: 1px solid #b1b5b9;
    dborder-right: 1px #ccc solid;
    dborder-left: 1px #ccc solid;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 10px;
    dcolor: #76797c;
    dcolor: #395a90;
    color: #688AC4;
    padding: 0px 1px 0;
    vertical-align: middle;
    font-weight: bold;
}

.Sub_titulo_rel_claro {
    background-color: #F7F7F7;
    dborder-top: 1px solid #b1b5b9;
    dborder-right: 1px #ccc solid;
    dborder-left: 1px #ccc solid;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 10px;
    dcolor: #76797c;
    dcolor: #395a90;
    color: #688AC4;
    padding: 0px 1px 0;
    vertical-align: middle;
    font-weight: bold;
}

.Itens_rel {
    font-weight: normal;
    dfont-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
    border-right: 1px #ccc solid;
    dborder-left: 1px #ccc solid;

    background-color: #fff;
    padding: 3px 3px 0;
}

.Itens_normal {
    vertical-align: middle;
    font-weight: normal;
    dfont-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-left: 1px #ccc solid;

    padding: 3px 3px 0;
}

.Itens_normal:hover {
    background-color: #FFF2C2;

}

.Itens_normalD {
    vertical-align: middle;
    font-weight: normal;
    dfont-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-right: 1px #ccc solid;

    padding: 3px 3px 0;
}

.Itens_sel_rel {
    vertical-align: middle;
    font-weight: normal;
    dfont-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;

    background-color: #edf3fe;
    padding: 3px 3px 0;
}

.Itens_sel_rel:hover {
    background-color: #FFF2C2;
    cursor: pointer;
}

.Itens_sel_rel_red {
    vertical-align: middle;
    font-weight: normal;
    dfont-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;

    background-color: #FFF5F0;
    padding: 3px 3px 0;
}

.Itens_rel_s_traco {
    font-weight: normal;
    font-size: 10px;
    font-family: Verdana, Arial;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
    background-color: #fff;
    line-height: 24px;

}

.Titulo_caixa {
    width: 180px;
    color: #666666;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    padding: 8px 15px 10px 10px;
    line-height: 13px;
    padding: 5px 8px;
    background: #e2eeff url(./images/sbmoduletop.gif) top left no-repeat;
}

.Titulo_caixa_red {
    width: 180px;
    color: #666666;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    padding: 8px 15px 10px 10px;
    line-height: 13px;
    padding: 5px 8px;
    background: #e2eeff url(./images/sbmoduletop_red.gif) top left no-repeat;
}

.Corpo_caixa {

    background: #fff url(./images/sbmodulebody.gif) bottom left no-repeat;
    padding: 6px 8px 8px;
}

.Corpo_caixa_y {

    background: #fff url(./images/sbmodulebody_y.gif) bottom left no-repeat;
    padding: 6px 8px 8px;
}

#sidebar {
    width: 180px;
    font-size: 10px;
    line-height: 13px;
    padding: 8px 15px 10px 10px;
}

#sidebar h3 {
    font-size: 11px;
    margin: 0;
}

.sbmodulebody {
    background: #fff url(./images/sbmodulebody.gif) bottom left no-repeat;
    padding: 6px 8px 8px;
}

.sbmodule h3 {
    line-height: 13px;
    padding: 5px 8px;
    background: #e2eeff url(./images/sbmoduletop.gif) top left no-repeat;
}

.FormSubTitulo_sel {
    FONT-SIZE: 10pt;
    COLOR: #305c93;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    dBACKGROUND-COLOR: #bdd7e7;
    BACKGROUND-COLOR: #edf3fe;
    text-align: left;
    border-top: 1 solid #ffffff;
    Dborder-left: 1 solid #ffffff;
    border-bottom: 1 solid #6699cc;
    Dborder-right: 1 solid #6699cc;
    cursor: pointer;

}

.Fundo_caixa {
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 11px;
    background: #fff url(./images/bottom.gif) bottom left no-repeat;
    padding: 6px 8px 2px;
    border-top: none;
    color: #888888;
    vertical-align: top;
}

.Fundo_caixa_canto {
    border-top: none;
    background: #fff url(./images/bottom_rightcap.gif) bottom left no-repeat;
    padding: 6px 8px 2px;
}

.Fundo_caixa_jpg {
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 11px;
    background: #fff url(./images/bottom.jpg) bottom left no-repeat;
    padding: 6px 8px 2px;
    border-top: none;
    color: #888888;
    vertical-align: top;
}

.Fundo_caixa_canto_jpg {
    border-top: none;
    background: #fff url(./images/bottom_rightcap.jpg) bottom left no-repeat;
    padding: 6px 8px 2px;
}

#content .box2 {
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    BACKGROUND: url(./images/box_bg20090106.gif) #fff repeat-y 0px 0px;
    PADDING-BOTTOM: 1px;
    OVERFLOW: hidden;
    WIDTH: 560px;
    PADDING-TOP: 0px;
    ZOOM: 1;
    POSITION: relative
}

#content .box2 .cap {
    FONT-SIZE: 1px;
    MARGIN: 0px -20px;
    BEHAVIOR: url(/global/scripts/lib/iepngfix.htc);
    WIDTH: 600px;
    POSITION: absolute;
    HEIGHT: 6px
}

#content .box2 .top.cap {
    BACKGROUND: url(./images/box_bgtop20090106.png) no-repeat 0px 0px;
    MARGIN-LEFT: -2px;
    TOP: 0px
}

#content .box2 .bottom.cap {
    BACKGROUND: url(./images/box_bgbottom20090106.png) no-repeat 0px 100%;
    BOTTOM: 0px
}

#content .sidebar .box2 {
    PADDING-RIGHT: 12px;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(./images/box_sidebar_bg20090106.gif);
    PADDING-BOTTOM: 1px;
    WIDTH: 162px;
    PADDING-TOP: 0px
}

#content .sidebar .box2 .cap {
    LEFT: 12px;
    MARGIN: 0px -12px;
    WIDTH: 186px
}

#content .sidebar .box2 .top.cap {
    BACKGROUND-IMAGE: url(./images/box_sidebar_bgtop20090106.png)
}

#content .sidebar .box .bottom.cap {
    BACKGROUND-IMAGE: url(./images/box_sidebar_bgbottom20090106.png)
}

#content .full.box2 {
    BACKGROUND: url(./images/box_full_bg20090608.gif) #fff repeat-y 0px 0px
}

#content .box H2 {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    BACKGROUND: url(./images/box_header20090106.gif) #dfdfdf repeat-x 0px 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px -18px;
    COLOR: #4d4d4d;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: #d9d9d9 1px solid
}

#content .sidebar .box2 H2 {
    MARGIN: 0px -10px
}

HTML {
    BACKGROUND-COLOR: #f7f7f7;
}

#content .box2 {
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    BACKGROUND: url(./images/box_bg20090106.gif) #fff repeat-y 0px 0px;
    PADDING-BOTTOM: 1px;
    OVERFLOW: hidden;
    WIDTH: 560px;
    PADDING-TOP: 0px;
    ZOOM: 1;
    POSITION: relative
}

#content .box2 .cap {
    FONT-SIZE: 1px;
    MARGIN: 0px -20px;
    BEHAVIOR: url(iepngfix.htc);
    WIDTH: 600px;
    POSITION: absolute;
    HEIGHT: 6px
}

#content .box2 .top.cap {
    BACKGROUND: url(./images/box2_bgtop20090106.png) no-repeat 0px 0px;
    MARGIN-LEFT: -2px;
    TOP: 0px
}

#content .box2 .bottom.cap {
    BACKGROUND: url(./images/box2_bgbottom20090106.png) no-repeat 0px 100%;
    BOTTOM: 0px
}

#content .sidebar .box2 {
    PADDING-RIGHT: 12px;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(./images/box_sidebar_bg20090106.gif);
    PADDING-BOTTOM: 1px;
    WIDTH: 162px;
    PADDING-TOP: 0px
}

#content .sidebar .box2 .cap {
    LEFT: 12px;
    MARGIN: 0px -12px;
    WIDTH: 186px
}

#content .sidebar .box2 .top.cap {
    BACKGROUND-IMAGE: url(./images/box_sidebar_bgtop20090106.png)
}

#content .sidebar .box2 .bottom.cap {
    BACKGROUND-IMAGE: url(./images/box_sidebar_bgbottom20090106.png)
}

#content .full.box2 {
    BACKGROUND: url(./images/box_full_bg20090608.gif) #fff repeat-y 0px 0px
}

#content .box2 H2 {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    BACKGROUND: url(./images/box_header20090106.gif) #dfdfdf repeat-x 0px 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px -18px;
    COLOR: #4d4d4d;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: #d9d9d9 1px solid
}

#content .sidebar .box2 H2 {
    MARGIN: 0px -10px
}

div.content-group {

    background-position: right bottom;

}

.commit-tease {
    background: rgb(230, 241, 246);
    margin: 10px 0px;
    padding: 8px 8px 0px;
    border-radius: 4px;
    border: 1px solid rgb(197, 213, 221);
}

.commit-tease .commit-meta {
    background: rgb(255, 255, 255);
    padding: 8px;
    width: 100%;
    margin-left: -8px;
    border-top-color: rgb(216, 230, 236);
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.appriseOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.appriseOuter {
    background: #eee;
    border: 1px solid #fff;
    box-shadow: 0px 3px 7px #333;
    -moz-box-shadow: 0px 3px 7px #333;
    -webkit-box-shadow: 0px 3px 7px #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    position: absolute;
    z-index: 99999999;
    min-width: 200px;
    min-height: 50px;
    max-width: 75%;
    position: fixed;
    display: none;
}

.appriseInner {
    padding: 20px;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
}

.appriseInner button {
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color: #232d3d;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    margin: 0 3px;
    text-shadow: 0px 1px 0px #fff;
    cursor: pointer;
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
}

.appriseInner button:hover {
    color: #d85054;
}

.aButtons, .aInput {
    margin: 20px 10px 0px 10px;
    text-align: center;
}

.aTextbox {
    border: 1px solid #aaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    box-shadow: 0px 1px 0px #fff;
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
}

.tryit, .button {
    list-style-type: none;
    float: center;
    background-image: url("./images/fundo_botao.jpg");
    border: 1px solid #bbb;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    cursor: pointer;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;

}

.tryit:hover, .button:hover {
    cursor: pointer;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;

    background-image: url("./images/fundo_botao3.jpg");
}

.tryit:active, .download:active, .button:active {
    box-shadow: none;
}

div.content-full-width {
    width: 980px;
}

div.content-full-width,
div.content-full-width div.content-header,
div.content-full-width div.content-section {
    background-image: url("./images/bg-full-width.gif");
}

#main #content .sidebox h2 {
    background: url(./images/boxtopblue188.png) no-repeat 0 0;
}

#main .sidebox {
    padding: 0 12px;
    margin: 0 0 1em;
    font-size: 11px;
    color: #76797c;
    line-height: 1.3em;
    background: url(/downloads/images/sidebox_bgbottom20070618.gif) no-repeat 0 100%;
}

#main .sidebox h2, #main .sidebox h2 a {
    display: block;
    height: 25px;
    text-indent: -9999px;
    padding: 0 12px;
    margin: 0 -12px;
    background: no-repeat 0 0;
}

#main .sidebox.light {
    background: url(./images/sideboxlight_bg20070611.gif) repeat-y 0 0;
    *position: relative;
}

#main .sidebox.light .clearer {
    height: 6px;
    margin: 0 -12px;
    background: url(./images/sidenav_capbottom.png) no-repeat bottom left;
    behavior: url(/global/scripts/lib/iepngfix.htc);
}

